@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

img {
  display: block;
  width: 100%; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.header {
  background: #24292e;
  margin: 0;
  height: 5rem; }

.navbar {
  width: 98vw;
  margin: 0 auto;
  padding-top: .5rem;
  display: flex;
  align-items: center; }
  .navbar .logo-box {
    margin-right: 1.5rem; }
    .navbar .logo-box .logo {
      width: 3.2rem; }
  .navbar .header__input .input-text {
    width: 34rem;
    padding: .6rem .8rem;
    border-radius: .3rem;
    border: none;
    background-color: #3F4448;
    outline: none;
    transition: width .2s linear; }
    .navbar .header__input .input-text::placeholder {
      color: #8C8F92;
      font-size: 1.2rem; }
    .navbar .header__input .input-text:focus {
      background-color: #fff;
      width: 40rem; }
  .navbar .menu {
    display: flex;
    margin-left: 2rem;
    padding: .6rem .8rem; }

@media screen and (min-width: 1012px) {
  .hamburger {
    display: none; } }

@media screen and (max-width: 1011px) {
  .header {
    position: relative; }
    .header .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 92vw; }
      .header .navbar .nav-toggle {
        display: none; }
      .header .navbar .nav-toggle:checked ~ .menu,
      .header .navbar .nav-toggle:checked ~ .header__input {
        display: block;
        height: 30vh; }
      .header .navbar .header__input {
        display: none;
        position: absolute;
        top: 5rem;
        width: 100%;
        left: 0;
        background: #24292e; }
        .header .navbar .header__input .input-text {
          width: 92vw;
          margin-right: 4vw;
          margin-left: 4vw; }
      .header .navbar .menu {
        background: #24292e;
        position: absolute;
        top: 8.1rem;
        width: 100%;
        margin: 1rem 0;
        left: 0;
        padding: 0;
        display: none; }
        .header .navbar .menu .menu__item {
          padding: 1rem 0;
          border-top: 0.5px solid rgba(255, 255, 255, 0.15);
          width: 92vw;
          margin: 0 auto; }
          .header .navbar .menu .menu__item .menu--link {
            color: #fff;
            font-size: 1.4rem;
            font-weight: 600; } }
