@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden; }

img {
  display: block;
  width: 100%; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.underline-nav--item:hover {
  transition: .2s ease-in-out; }

.header {
  background: #24292e;
  margin: 0;
  min-height: 7vh;
  display: flex;
  align-items: center;
  padding-left: 1.6rem;
  padding-right: 1.6rem; }

.navbar {
  width: 98vw;
  margin: 0 auto;
  padding-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .8rem; }
  .navbar .nav-toggle {
    display: none; }
  .navbar .logo-box {
    margin-right: 1.5rem; }
    .navbar .logo-box .logo {
      width: 3.2rem;
      color: #fff; }
  .navbar .header__input .input-text {
    width: 30rem;
    padding: .6rem .8rem;
    border-radius: .3rem;
    border: none;
    background-color: #3F4448;
    outline: none;
    transition: width .2s linear; }
    .navbar .header__input .input-text::placeholder {
      color: #8C8F92;
      font-size: 1.2rem; }
    .navbar .header__input .input-text:focus {
      background-color: #fff;
      width: 40rem; }
  .navbar .menu {
    display: flex;
    padding: .6rem .8rem;
    color: #fff;
    font-size: 1.4rem; }
    .navbar .menu .menu__item {
      margin-right: 1.6rem;
      font-weight: 600; }
    .navbar .menu .menu--dashboard {
      display: none; }
  .navbar .menu-right {
    flex: 1; }
    .navbar .menu-right .menu-right__ul {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .navbar .menu-right .menu-right__ul img {
        width: 2rem;
        border-radius: .3rem; }
      .navbar .menu-right .menu-right__ul .menu-right__li {
        margin-right: 2rem; }
        .navbar .menu-right .menu-right__ul .menu-right__li i {
          cursor: pointer; }
      .navbar .menu-right .menu-right__ul .notification {
        position: relative;
        color: #fff; }
        .navbar .menu-right .menu-right__ul .notification:hover ~ .notification__text {
          visibility: visible;
          opacity: 1; }
      .navbar .menu-right .menu-right__ul .notification__text {
        font-size: 1rem;
        background: black;
        color: #fff;
        padding: .7rem .6rem;
        border-radius: .3rem;
        font-weight: 600;
        position: absolute;
        width: 18rem;
        top: 4rem;
        right: 10.5rem;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s linear; }
      .navbar .menu-right .menu-right__ul .repo {
        display: flex;
        align-items: center;
        color: #fff; }
        .navbar .menu-right .menu-right__ul .repo .repo__add-1 {
          margin-right: .5rem; }

@media screen and (min-width: 1012px) {
  .hamburger {
    display: none; } }

@media screen and (max-width: 1011px) {
  .addToHeader {
    min-height: 38vh;
    display: flex;
    align-items: start; }
  .header {
    margin: 0;
    position: relative;
    padding-top: .8rem; }
    .header .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 92vw; }
      .header .navbar .nav-toggle {
        display: none; }
      .header .navbar .nav-toggle:checked ~ .menu,
      .header .navbar .nav-toggle:checked ~ .header__input {
        display: block; }
      .header .navbar .hamburger {
        color: #fff; }
        .header .navbar .hamburger:hover {
          color: rgba(255, 255, 255, 0.7); }
      .header .navbar .header__input {
        display: none;
        position: absolute;
        padding-top: 1rem;
        top: 5rem;
        width: 94%;
        left: 0;
        right: 0;
        background: #24292e;
        padding-bottom: 3rem;
        margin-right: auto;
        margin-left: auto;
        height: 5vh; }
        .header .navbar .header__input .input-text {
          width: 100%; }
      .header .navbar .menu {
        background: #24292e;
        position: absolute;
        top: 8.9rem;
        width: 100%;
        margin: 1rem 0;
        left: 0;
        padding: 0;
        display: none; }
        .header .navbar .menu .menu__item {
          padding: 1rem 0;
          border-top: 0.5px solid rgba(255, 255, 255, 0.15);
          width: 92vw;
          margin: 0 auto; }
        .header .navbar .menu .menu--dashboard {
          display: block; }
          .header .navbar .menu .menu--dashboard .menu--link {
            color: #fff;
            font-size: 1.4rem;
            font-weight: 600; }
      .header .navbar .menu-right {
        flex: 0; }
        .header .navbar .menu-right .repo {
          outline: 1px solid red;
          display: none; }
        .header .navbar .menu-right .profile-image {
          display: none; }
        .header .navbar .menu-right .menu-right__li {
          margin: 0; } }

.edit-area__button {
  background-color: #eff3f6;
  padding: .6rem 1.2rem;
  margin-top: .8rem;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  border: 0.1rem solid rgba(27, 31, 35, 0.2);
  border-radius: .25rem;
  width: 100%;
  text-align: center;
  color: #24292e; }
  .edit-area__button:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    background-position: .5rem;
    border-color: rgba(27, 31, 35, 0.35); }

.edit-area__location {
  font-size: 1.4rem;
  padding-top: 1rem;
  color: #24292e; }
  .edit-area__location .edit--icon-location {
    color: #6a737d;
    margin-right: .4rem; }

.alerts {
  width: 60%;
  padding: .8rem;
  border: .1rem solid red;
  border-radius: .3rem;
  background-color: #FFF5F5;
  color: #c77676;
  font-weight: 600; }

.underline-nav {
  border-bottom: .1rem solid #d1d5da;
  font-size: 1.4rem;
  display: flex; }
  .underline-nav .underline-nav--item {
    display: flex;
    align-items: center;
    color: #586069;
    padding: 1.6rem .8rem;
    margin-right: 1.9rem;
    font-size: 1.4rem;
    border: none;
    border-bottom: .2rem solid transparent; }
    .underline-nav .underline-nav--item:hover {
      border-bottom-color: #d1d5da; }
  .underline-nav .repository--counter {
    background-color: rgba(27, 31, 35, 0.08);
    border-radius: 2rem;
    padding: .2rem .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #586069;
    margin-left: .6rem; }

@media screen and (max-width: 1100px) {
  .underline-nav {
    overflow-x: auto;
    white-space: nowrap;
    display: inline-block;
    width: 70rem; }
    .underline-nav .underline-nav--item {
      display: inline-block; } }

@media screen and (max-width: 1011px) {
  .underline-nav {
    overflow-x: hidden;
    display: flex;
    width: auto; }
    .underline-nav .underline-nav--item .repository--counter {
      display: none; } }

@media screen and (max-width: 901px) {
  .underline-nav .underline-nav--item {
    margin-right: 1rem; } }

@media screen and (max-width: 650px) {
  .underline-nav {
    overflow-x: auto;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%; } }

.projects__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .projects__list .projects__container {
    padding: 1.6rem;
    width: 49.5%;
    border: .1rem solid #d1d5da;
    border-radius: .3rem;
    margin-bottom: 1.6rem; }
    .projects__list .projects__container .project__title .fa-book {
      color: #586069; }
    .projects__list .projects__container .project__title .project__title--name {
      color: #0366d6;
      font-size: 1.4rem;
      font-weight: 600;
      margin-left: .8rem; }
      .projects__list .projects__container .project__title .project__title--name:hover {
        text-decoration: underline; }
    .projects__list .projects__container .project__description {
      color: #586069;
      font-size: 1.2rem;
      margin-top: .8rem;
      margin-bottom: 1.6rem; }

@media screen and (max-width: 767px) {
  .projects__list {
    flex-direction: column; }
    .projects__list .projects__container {
      width: 100%; } }

.main-section {
  max-width: 1280px;
  width: 95vw;
  height: 92vh;
  margin: 2.4rem auto;
  display: flex; }

@media screen and (max-width: 818px) {
  .main-section {
    flex-direction: column; } }

.left-section {
  width: 25%;
  height: 94vh;
  padding: 0 1.6rem; }
  .left-section .profile {
    padding: 0;
    padding-left: 0;
    padding-right: .4rem;
    border: .1rem solid #e1e4e8; }
    .left-section .profile .profile__user-status {
      display: flex;
      padding: 1rem;
      align-items: center; }
      .left-section .profile .profile__user-status .profile--description {
        font-size: 1.2rem;
        margin-left: 1rem;
        color: #24292e; }
  .left-section .profile__name {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem; }
    .left-section .profile__name .profile--name {
      font-size: 2.4rem;
      line-height: 3rem;
      font-weight: 600; }
    .left-section .profile__name .profile--username {
      color: #666;
      font-size: 2rem;
      font-weight: 300; }

@media screen and (max-width: 1172px) {
  .left-section {
    min-width: 25%; } }

@media screen and (max-width: 818px) {
  .left-section {
    height: auto;
    width: 100%; }
    .left-section .profile {
      border: none; }
      .left-section .profile .profile__image {
        width: 25%; }
      .left-section .profile .profile__user-status {
        width: 100%;
        margin-top: 1rem;
        border: .1rem solid #e1e4e8;
        padding: .4rem .8rem; }
    .left-section .edit-area {
      display: none; } }

.right-section {
  flex: 1;
  padding: 0 1.6rem; }

.projects .projects--pinned {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 2.4rem;
  margin-bottom: .8rem;
  color: #24292e; }
