.header
    background: $color-primary
    margin: 0
    min-height: 7vh
    display: flex
    align-items: center
    padding-left: 1.6rem
    padding-right: 1.6rem

// navbar 
.navbar
    width: 98vw
    margin: 0 auto
    padding-top: .5rem
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: .8rem

    .nav-toggle
        display: none

    // logo div 
    .logo-box
        margin-right: 1.5rem
        .logo
            width: 3.2rem
            color: #fff

    // input field section 
    .header__input

        .input-text
            width: 30rem
            padding: .6rem .8rem
            border-radius: .3rem
            border: none
            background-color: $text-primary-5
            outline: none
            transition: width .2s linear

            &::placeholder
                color: $text-placeholder-color
                font-size: 1.2rem

            &:focus

                background-color: #fff
                width: 40rem

    // ======== CENTER MENU ============
    .menu
        display: flex

        padding: .6rem .8rem
        color: #fff
        font-size: 1.4rem

        .menu__item
            margin-right: 1.6rem
            font-weight: 600

        .menu--dashboard
            display: none

    // ======== MENU ON THE RIGHT ============
    .menu-right
        // outline: 1px solid red
        flex: 1

        .menu-right__ul
            display: flex
            justify-content: flex-end
            align-items: center

            img
                width: 2rem
                border-radius: .3rem

            .menu-right__li
                margin-right: 2rem

                i
                    cursor: pointer

            .notification
                position: relative
                color: #fff

                &:hover ~ .notification__text

                    visibility: visible
                    opacity: 1

            .notification__text
                font-size: 1rem
                background: black
                color: #fff
                padding: .7rem .6rem
                border-radius: .3rem
                font-weight: 600
                position: absolute
                width: 18rem
                top: 4rem
                right: 10.5rem
                text-align: center
                visibility: hidden
                opacity: 0
                transition: opacity 0.5s linear

            .repo
                display: flex
                align-items: center
                color: #fff

                .repo__add-1
                    margin-right: .5rem

// ========================== End navbar ==================

// MEDIA QUERIES
@media screen and  (min-width: 1012px)
    .hamburger
        display: none

@media screen and (max-width: 1011px)
    // ADDED TO JS 
    .addToHeader
        min-height: 38vh
        display: flex
        align-items: start

    .header
        margin: 0
        position: relative
        padding-top: .8rem

        .navbar
            display: flex
            align-items: center
            justify-content: space-between
            width: 92vw
            // outline: 1px solid red

            // checkbox 
            .nav-toggle
                display: none

            // when hamburger icon is clicked
            .nav-toggle
                &:checked ~ .menu,
                &:checked ~ .header__input
                    display: block

            .hamburger
                color: #fff

                &:hover
                    color: $text-grey-color

            // Search input main div 
            .header__input
                display: none
                position: absolute
                padding-top: 1rem
                top: 5rem
                width: 94%
                left: 0
                right: 0
                background: $color-primary
                padding-bottom: 3rem
                margin-right: auto
                margin-left: auto
                height: 5vh

                // Search input field 
                .input-text
                    width: 100%

            // MENU - CENTER
            .menu
                background: $color-primary
                position: absolute
                top: 8.9rem
                width: 100%
                margin: 1rem 0
                left: 0
                padding: 0
                display: none

                // menu center li
                .menu__item
                    padding: 1rem 0
                    border-top: .5px solid $border-color
                    width: 92vw
                    margin: 0 auto

                // dashboard  
                .menu--dashboard
                    display: block

                    .menu--link
                        color: #fff
                        font-size: 1.4rem
                        font-weight: 600

            // == MENU ON THE RIGHT ==
            .menu-right
                flex: 0

                .repo
                    outline: 1px solid red
                    display: none

                .profile-image
                    display: none

                .menu-right__li
                    margin: 0
