.header
    background: $color-primary
    margin: 0
    height: 5rem

// navbar 
.navbar
    width: 98vw
    margin: 0 auto

    padding-top: .5rem
    display: flex
    align-items: center

    // logo div 
    .logo-box

        margin-right: 1.5rem
        .logo
            width: 3.2rem

    // input field
    .header__input

        .input-text
            width: 34rem
            padding: .6rem .8rem
            border-radius: .3rem
            border: none
            background-color: $text-primary-5
            outline: none
            transition: width .2s linear

            &::placeholder
                color: $text-placeholder-color
                font-size: 1.2rem

            &:focus

                background-color: #fff
                width: 40rem

// End of navbar 
