.header
    background: $color-primary
    margin: 0
    height: 5rem

// navbar 
.navbar
    width: 98vw
    margin: 0 auto
    padding-top: .5rem
    display: flex
    align-items: center
    justify-content: space-between

    .nav-toggle
        display: none

    // logo div 
    .logo-box
        margin-right: 1.5rem
        .logo
            width: 3.2rem

    // input field section 
    .header__input

        .input-text
            width: 34rem
            padding: .6rem .8rem
            border-radius: .3rem
            border: none
            background-color: $text-primary-5
            outline: none
            transition: width .2s linear

            &::placeholder
                color: $text-placeholder-color
                font-size: 1.2rem

            &:focus

                background-color: #fff
                width: 40rem

    // ======== CENTER MENU ============
    .menu
        display: flex

        padding: .6rem .8rem
        color: #fff
        font-size: 1.4rem

        .menu__item
            margin-right: 1.6rem
            font-weight: 600

        .menu--dashboard
            display: none

    // ======== MENU ON THE RIGHT ============
    .menu-right
        // outline: 1px solid red
        flex: 1

        .menu-right__ul
            display: flex
            justify-content: flex-end
            align-items: center

            img
                width: 2rem
                border-radius: .3rem

            .menu-right__li
                margin-right: 2rem

                i
                    cursor: pointer

// ====== End navbar ==========

// MEDIA QUERIES
@media screen and  (min-width: 1012px)
    .hamburger
        display: none

@media screen and (max-width: 1011px)
    .addToHeader
        min-height: 42vh

    .header
        // min-height: 42vh
        position: relative

        .navbar
            display: flex
            align-items: center
            justify-content: space-between
            width: 92vw

            // checkbox 
            .nav-toggle
                display: none

            .nav-toggle
                &:checked ~ .menu,
                &:checked ~ .header__input
                    display: block
                    height: 30vh

            .hamburger
                color: #fff

                &:hover
                    color: $text-grey-color

            .header__input
                display: none
                position: absolute
                top: 5rem
                width: 100%
                left: 0
                background: $color-primary

                .input-text
                    width: 92vw
                    margin-right: 4vw
                    margin-left: 4vw

            // ul
            .menu
                background: $color-primary
                position: absolute
                top: 8.1rem
                width: 100%
                margin: 1rem 0
                left: 0
                padding: 0
                display: none

                // menu li
                .menu__item
                    padding: 1rem 0
                    border-top: .5px solid $border-color
                    width: 92vw
                    margin: 0 auto
                .menu--dashboard
                    display: block

                    .menu--link
                        color: #fff
                        font-size: 1.4rem
                        font-weight: 600
