.underline-nav
    border-bottom: .1rem solid #d1d5da
    font-size: 1.4rem
    padding: 1.6rem .8rem

    .underline-nav--item
        color: rgb(88, 96, 105)
        padding: 1.6rem .8rem
        margin-right: 1.6rem
        font-size: 1.4rem
        border: none

        &:hover
            // color: #24292e
            text-decoration: none
            border-bottom: .2rem solid #d1d5da

    // repository
    .repository--counter
        display: inline-block
        background-color: rgba(27,31,35,.08)
        border-radius: 2rem
        padding: .2rem .5rem
        font-size: 1.2rem
        font-weight: 600
        line-height: 1
        color: #586069
